.banner {
  background-color: @bg-darkgrey;
  padding-top: 29px;
  padding-left: 26px;
  padding-right: 26px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-position: center -57px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/bg-back-mobile@2x.jpg");
    background-size: auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 335px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    background-image: url("/img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/bg-back-tablet@2x.jpg");
      background-size: auto;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 282px;
    padding-left: 42px;
    padding-right: 26px;
    padding-top: 57px;
    background-image: url("/img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/bg-back-desktop@2x.jpg");
      background-size: auto;
    }
  }
}

.banner__text {
  z-index: 2;
  margin-bottom: 130px;
}

.banner__wrapper {
  background-image: url("/img/iphone-hand-mobile@1x.png");
  background-position: 0 101px;
  background-repeat: no-repeat;
  padding-bottom: 78px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/iphone-hand-mobile@2x.png");
    background-size: auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("/img/iphone-hand-tablet@1x.png");
    background-position: 0 62px;
    background-repeat: no-repeat;
    padding-bottom: 107px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/iphone-hand-tablet@2x.png");
      background-size: auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/iphone-hand-desktop@1x.png");
    background-position: 0 27px;
    background-repeat: no-repeat;
    padding-bottom: 107px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("/img/iphone-hand-desktop@2x.png");
    background-size: auto;
  }
}

.banner--index {
  @media (min-width: @tablet-width) {
    text-align: start;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 40px;
    padding-bottom: 107px;
  }
}
