.banner {
  position: relative;
  background-color: @bg-darkgrey;
  background-image: url("../img/banner/mobile/bg-back-mobile@1x.jpg");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 241px;
  padding-top: 100px;
  padding-bottom: 42px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/banner/mobile/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 443px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 180px;
    padding-bottom: 60px;
    background-image: url("../img/banner/tablet/bg-back-tablet@1x.jpg");
    background-size: 182%;
    background-position-x: center;
    background-position-y: 7px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner/tablet/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 396px;
    padding-left: 42px;
    padding-right: 26px;
    padding-top: 171px;
    padding-bottom: 89px;
    background-image: url("../img/banner/desktop/bg-back-desktop@1x.jpg");
    background-size: 213%;
    background-position-x: center;
    background-position-y: 10px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner/desktop/bg-back-desktop@2x.jpg");
    }
  }
}

.banner__text {
  font-size: @fs-big;
  line-height: @lh-big;
  white-space: pre-line;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.banner--index .banner__text {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 2;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-left: 0;
  }

  &::after {
    content: "";
    background-image: url("../img/banner/mobile/iphone-hand-mobile@1x.png");
    background-size: cover;
    width: 260px;
    height: 288px;

    position: absolute;
    z-index: 1;
    left: 50%;
    top: 178px;
    transform: translate(-163px);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner/mobile/iphone-hand-mobile@2x.png");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/banner/tablet/iphone-hand-tablet@1x.png");

      width: 660px;
      height: 545px;
      top: 50px;
      left: 50%;
      transform: translate(-182px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/banner/tablet/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/banner/desktop/iphone-hand-desktop@1x.png");

      width: 900px;
      height: 645px;
      top: 56px;
      transform: translate(-125px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/banner/desktop/iphone-hand-desktop@2x.png");
      }
    }
  }
}

.banner__wrapper {
  width: @width-default-m;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: @width-default-t;
    padding-bottom: 115px;
  }

  @media (min-width: @desktop-width) {
    width: @width-default-d;
    padding-bottom: 90px;
  }
}

.banner--index {
  padding-top: 67px;
  padding-bottom: 0;

  .banner__wrapper {
    width: 100%;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    text-align: start;
    padding-left: 0;
    padding-right: 0;

    .banner__text {
      position: relative;
      z-index: 2;
    }

    .banner__wrapper {
      padding-top: 70px;
      width: @width-default-t;
      padding-bottom: 113px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 110px;
    padding-bottom: 0;

    .banner__wrapper {
      padding-top: 43px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 123px;
      width: @width-default-d;
    }

    .banner__text {
      padding-left: 20px;
    }
  }
}
