.button {
  display: block;
  box-sizing: border-box;

  font-weight: bold;
  font-size: @fs-title;
  line-height: @lh-base;
  text-align: center;
  color: @static-red;

  border-width: 3px;
  border-style: solid;
  border-color: @static-red;
  border-radius: 30px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-bottom: 17px;
    margin-bottom: 23px;
    margin-left: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 17px;
    margin-bottom: 23px;
    margin-left: 0;
    margin-right: 0;
    min-width: 183px;
  }
}

.button--submit,
.button--popup {
  background-color: @static-green;
  border: 2px solid @static-green;
  border-radius: 1px;
  color: @font-white;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width;

  &:hover {
    background-color: @hover-green;
  }

  &:active {
    .button__title {
      opacity: 0.3;
    }
  }

  &:disabled {
    background-color: @bg-black;
    opacity: 0.1;
    border: none;
  }
}

.button--submit {
  min-height: 63px;
  padding: 0;
  width: 280px;
  margin: auto;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.button--popup {
  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}

.button--post,
.button--reset {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    width: 260px;
  }
}

.button--post {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }

  &:hover {
    background-color: @hover-red;
    color: @font-white;
  }

  &:active {
    .button__title {
      opacity: 0.3;
    }
  }
}

.button--reset {
  opacity: 0.1;
  color: @bg-darkgrey;
  border: 2px solid @bg-darkgrey;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    background-color: @bg-darkgrey;
    color: @font-white;
    opacity: 0.3;
  }
}
