.button {
  display: block;
  box-sizing: border-box;

  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 58px;
  padding-right: 59px;

  font-weight: bold;
  font-size: @fsa-title;
  line-height: @lh-base;
  text-align: center;
  color: @static-red;

  border-width: 3px;
  border-style: solid;
  border-color: @static-red;
  border-radius: 30px;
  background-color: transparent;
}

.button--submit {
  background-color: @hover-green;
  border: 2px solid @hover-green;
  border-radius: 1px;
  color: @font-white;
}
