.contacts {
  text-align: center;
  font-style: normal;
}

.contacts__title {
  line-height: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.contacts__text {
  font-size: 24px;
  line-height: 33px;
  color: @font-red;
  font-style: inherit;
}
