.contacts {
  text-align: center;
  font-style: normal;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 46px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    justify-content: space-between;
  }
}

.contacts__container {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.contacts__map-wrapper {
  width: 100%;
}

.contacts__title {
  line-height: 25px;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.contacts__text {
  font-size: @fs-big;
  line-height: @lh-big;
  color: @font-red;
  font-style: inherit;
}

.contacts__container--first {
  @media (min-width: @desktop-width) {
    order: -2;
  }
}

.contacts__container--second {
  @media (min-width: @desktop-width) {
    order: -1;
  }
}
