.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  font-weight: normal;
  font-size: @fs-base;
  line-height: @lh-base;
  margin-right: 15px;
}

.copyright__link {
  color: @font-red;

  &:hover {
    color: @font-black;
  }

  &:active {
    color: @font-black;
    opacity: 0.3;
  }
}
