.download-info {
  text-align: center;
  padding-top: 33px;
  width: 100%;

  position: relative;
  z-index: 2;

  @media (min-width: @tablet-width) {
    text-align: start;
    max-width: 300px;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    padding-top: 36px;
  }
}

.download-info__link {
  color: @font-white;
  font-weight: bold;
  line-height: @lh-base;
  border-color: @bg-white;
  margin: auto;
  margin-bottom: 38px;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    color: @font-red;
    background-color: @bg-white;
  }

  &:active {
    color: @down-red;

    .download-info__link-title {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    margin-bottom: 70px;
  }
}

.download-info__platforms-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.download-info__platforms-item {
  margin-right: 35px;
}

.download-info__explanation {
  color: @font-white;
  font-size: @fs-base;
  line-height: @lh-title;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
