.download-info__link {
  color: @font-white;
  font-weight: bold;
  line-height: @lh-base;
  border-color: @bg-white;
}

.download-info__platforms-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.download-info__explanation {
  color: @font-white;
  font-size: @fs-base;
  line-height: @lh-title;
  margin: 0;
}
