.features {
  background-color: @bg-lightgrey;
  padding-top: 51px;
  text-align: center;
  position: relative;
  z-index: -2;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 0;
    height: 0;
    border-right: 100vw solid @bg-lightgrey;
    border-top: 30px solid transparent;
    z-index: -2;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-bottom: 48px;
    margin-bottom: 50px;
    overflow: visible;

    &::before {
      top: -70px;
      border-right: 100vw solid @bg-lightgrey;
      border-top: 70px solid transparent;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -40px;
    padding-top: 0;
    padding-bottom: 10px;

    &::before {
      top: -100px;
      border-right: 100vw solid @bg-lightgrey;
      border-top: 100px solid transparent;
    }
  }
}

.features__list {
  list-style: none;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  overflow: hidden;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 53%;
    text-align: start;
    padding-right: 20px;
    margin-right: 0;
    overflow: visible;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: auto;
    text-align: center;
    width: @width-default-d;

    top: -95px;
    padding-right: 0;
    padding-left: 0;
  }
}

.features__item {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.features__item:last-child {
  margin-bottom: 320px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.features__img {
  order: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -52px;
  z-index: -2;

  @media (min-width: @tablet-width) {
    left: -290px;
    transform: none;
    bottom: -52px;
    width: 100%;
    padding-right: 42px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    position: static;
    padding: 0;
    margin: auto;
    order: -1;
    width: 100%;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: @fs-title;
  line-height: @lh-title;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;

    margin-top: 46px;
    margin-bottom: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.features__text {
  margin: 0;
  padding: 0;
  font-size: @fs-base;
  line-height: @lh-title;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;

    padding-left: 30px;
    padding-right: 30px;
  }
}

.features__img--mobile {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__img--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
