.form {
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
    grid-row-gap: 70px;

    grid-template-areas:
      "intro"
      "personal"
      "app"
      "contacts"
      "adventures"
      "review"
      "textarea"
      "submit-button";
  }

  @media (min-width: @desktop-width) {
    .container;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 74px;

    grid-template-areas:
      "intro intro"
      "personal app"
      "contacts contacts"
      "adventures adventures"
      "review review"
      "textarea textarea"
      "submit-button submit-button";
  }
}

.form__intro {
  font-size: @fs-base;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @fs-title;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;

    grid-area: intro;
  }
}

.form-input {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__not-mobile {
  @media (max-width: @mobile-width) {
    display: none;
  }
}

.form__legend {
  font-size: @fs-base;
  color: @font-red;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: @mobile-width) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    height: 228px;
  }
}

.form__item {
  margin-bottom: 47px;

  @media (min-width: @desktop-width) {
    height: 25%;
  }
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__fieldset {
  padding: 0;
  padding-bottom: 0;
  margin: 0;
  border: 0;
  .container;

  @media (min-width: @tablet-width) {
    border: 2px solid @bg-lightgrey;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.form__submit-wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    order: 6;

    grid-area: submit-button;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__textarea {
  text-align: center;
  padding: 0;
  padding-top: 42px;
  margin: 0;
  position: relative;
  .container;

  @media (max-width: @mobile-width) {
    margin-bottom: 52px;
    border: 0;
  }

  @media (min-width: @tablet-width) {
    order: 5;
    border: 2px solid @bg-lightgrey;
    padding-left: 82px;
    padding-right: 82px;
    margin-bottom: 70px;

    grid-area: textarea;
  }
}

.form--editor {
  margin-bottom: 41px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-top: 0;
  }
}

.form__fieldset--grey {
  @media (max-width: calc(@tablet-width - 1px)) {
    background-color: @bg-lightgrey;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.form__fieldset--grey .form__legend,
.form__fieldset--grey .form__list {
  @media (max-width: calc(@tablet-width - 1px)) {
    .container;
  }
}

.form__fieldset--adventures {
  @media (min-width: @tablet-width) {
    order: 4;
    grid-area: adventures;
  }
}

.form__fieldset--no-border {
  border: 0;
}

.form__fieldset--name {
  @media (min-width: @tablet-width) {
    order: 1;
    grid-area: personal;
  }

  @media (min-width: @desktop-width) {
    padding-right: 37px;
    padding-top: 15px;
  }
}

.form__fieldset--app {
  @media (min-width: @tablet-width) {
    order: 2;
    padding-top: 8px;
    padding-left: 73px;
    grid-area: app;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 15px;
  }
}

.form__fieldset--contacts {
  @media (min-width: @tablet-width) {
    order: 3;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 0;
    grid-area: contacts;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }
}

.form__intro--required-t {
  text-transform: uppercase;
  display: block;

  &::before {
    content: "*";
    color: @font-red;
  }
}

.form__intro--required-d {
  padding-left: 0;
  padding-right: 0;

  @media (max-width: calc(@desktop-width - 1px)) {
    display: none;
  }
}

.form__item--radio {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}

.form__legend--mobile {
  @media (max-width: @mobile-width) {
    display: inline;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
