.form__intro {
  font-size: 14px;
  text-align: center;
}

.form__legend {
  font-size: 14px;
  color: @font-red;
  text-transform: uppercase;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__fieldset--grey {
  background-color: @bg-lightgrey;
}

.form__intro--required {
  text-transform: uppercase;
}
