.input__label {
  font-size: @fs-base;
  color: @font-black;
  display: flex;
  align-items: center;
  padding-left: 23px;

  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.input__field {
  font-size: @fs-title;
  font-family: inherit;
  border: 2px solid @bg-lightgrey;
  border-radius: 1px;

  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 59px;
  display: block;

  outline: none;

  &:hover {
    border: 2px solid @bg-black;
  }

  &:focus {
    border: 2px solid @down-red;
  }

  &::placeholder {
    color: @font-black;
  }

  @media (max-width: @mobile-width) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    flex-grow: 1;
  }
}

.input__textarea {
  font-size: @fs-title;
  font-family: inherit;
  width: 100%;
  padding-top: 15px;
  padding-left: 21px;
  line-height: 30px;
  min-height: 200px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 127px;
  }
}

.input__icon-wrapper {
  @media (max-width: calc(@tablet-width - 1px)) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 65px;
    background-color: @bg-lightgrey;
  }
}

.input__label--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.input__label--checkbox {
  padding-left: 0;

  &:hover {
    &::before {
      border-color: @bullet-grey;
    }
  }

  &:active {
    &::before {
      border-color: @down-red;
    }
  }

  &::before {
    display: block;
    margin-right: 22px;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid @form-border-lightgrey;
    border-radius: 1px;
    background-color: @bg-white;
  }
}

.input__field--checkbox:checked + .input__label--checkbox::before {
  background-image: url("../img/design-elements/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input__label--radio {
  &:hover {
    &::before {
      border-color: @bullet-grey;
    }
  }

  &:active {
    &::before {
      border-color: @down-red;
    }
  }

  &::before {
    display: block;
    margin-right: 33px;
    content: "";
    width: 37px;
    height: 37px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: @bg-white;

    @media (min-width: @tablet-width) {
      margin-right: 22px;
    }
  }
}

.input__radio:checked + .input__label--radio::before {
  background-image: url("../img/design-elements/red-radio-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input__label--red {
  color: @font-red;
  text-transform: uppercase;
}

.input__icon--phone,
.input__icon--mail {
  color: @bg-red;
  display: block;
}

.input__icon--phone {
  width: 20px;
  height: 19px;
}

.input__icon--mail {
  width: 18px;
  height: 13px;
}
