.logo--header {
  margin-left: -72px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  &:hover {
    color: @hover-red;
  }

  &:active {
    opacity: 0.3;
    color: @bg-white;
  }

  .logo__sparkles {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  .logo__glasses--tablet {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  .logo__glasses--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.logo--footer {
  &:active {
    opacity: 0.3;
  }

  .logo__title {
    &:hover {
      color: @hover-red;
    }
  }

  .logo__sparkles {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  .logo__glasses {
    color: @static-red;

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  .logo__glasses--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
