.main-nav,
.main-nav--nojs {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-width: 960px;
    margin: auto;
  }
}

.main-nav .main-nav__wrapper {
  @media (max-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav--opened {
  background-color: @bg-darkgrey;

  @media (max-width: @desktop-width) {
    .main-nav__wrapper {
      display: block;
    }
  }
}

.main-nav--nojs {
  background-color: @bg-darkgrey;

  .main-nav__wrapper {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }
}
