.map__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }

  img {
    width: 100%;
  }
}
