.page-header {
  background-color: @bg-darkgrey;
}

.page-header__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 225px;
  }
}

.page-header__logo-link {
  text-transform: uppercase;
  color: @font-white;
  font-weight: bold;
}

.page-header__logo-toggle {
  border: none;
  outline: none;
  padding: 0;
  width: 50px;
  height: 24px;
  background-color: inherit;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-toggle > div,
.page-header__logo-toggle > div::before,
.page-header__logo-toggle > div::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 3px;
  width: 50px;
  background-color: @bg-white;
  margin-right: 20px;
}

.page-header__logo-toggle > div {
  &::before,
  &::after {
    margin-right: 0;
    content: "";
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}

.main-nav--opened .page-header__logo-toggle > div {
  height: 0;

  @media (max-width: @desktop-width) {
    &::before,
    &::after {
      right: 17px;
      width: 30px;
      height: 3px;
      top: 0;

      @media (min-width: @tablet-width) {
        right: 22px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
