.page-title {
  text-align: center;
  font-weight: normal;
  margin: auto;
  font-size: @fs-big;
  line-height: 29px;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-title--white {
  color: @font-white;
}

.page-title--index {
  margin-bottom: 348px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin: 0;
    padding-top: 64px;
    max-width: 300px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    max-width: 300px;
    font-size: 50px;
    line-height: 68px;
  }
}
