.page-footer {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__logo {
  color: @font-black;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: @font-red;
  }

  &:active {
    opacity: 0.3;
  }
}
