.page-header {
  background-color: fade(@bg-black, 40%);
  position: relative;
  z-index: 2;

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: auto;
  }
}

.page-header__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    padding-top: 28px;
    padding-left: 10px;
  }
}

.page-header__logo-link {
  text-transform: uppercase;
  color: @font-white;
  font-weight: bold;

  &[href]:hover {
    color: @hover-red;
  }

  &[href]:active {
    opacity: 0.3;
    color: @bg-white;
  }
}

.page-header__toggle {
  display: block;
  border: none;
  outline: none;
  padding: 0;
  background-color: inherit;
  margin-right: 20px;
  margin-top: 5px;

  &::before,
  &::after {
    margin-right: 0;
    content: "";
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }

  &:hover {
    background-color: @hover-red;

    &::before,
    &::after {
      background-color: @hover-red;
    }
  }

  &:active {
    opacity: 0.3;
    background-color: @down-red;

    &::before,
    &::after {
      opacity: 0.3;
      background-color: @down-red;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__toggle,
.page-header__toggle::before,
.page-header__toggle::after {
  position: absolute;
  right: 0;
  height: 3px;
  width: 50px;
  background-color: @bg-white;
}

.main-nav--opened .page-header__toggle {
  height: 0;

  @media (max-width: @desktop-width) {
    &::before,
    &::after {
      right: -3px;
      width: 30px;
      height: 3px;
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__toggle-wrapper {
  width: 50px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .page-header__toggle,
    .page-header__toggle::before,
    .page-header__toggle::after {
      background-color: @hover-red;
    }
  }

  &:active {
    .page-header__toggle,
    .page-header__toggle::before,
    .page-header__toggle::after {
      opacity: 0.3;
      background-color: @down-red;
    }
  }
}
