.payment-plans {
  text-transform: uppercase;
}

.payment-plans__hit {
  display: block;
  position: absolute;
  width: 100%;
  left: 20px;
  transform: rotate(-45deg);

  font-size: 14px;
  text-align: center;
  color: @font-white;
  background-color: @bg-red;
}

.payment-plans__category {
  font-size: 16px;
  color: @font-white;
  background-color: @bg-darkgrey;
  text-align: center;

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.payment-plans__price {
  font-weight: normal;
  font-size: 18px;
  text-align: center;

  margin: 0;
  padding: 0;
}
