.payment-plans {
  position: relative;
  text-transform: uppercase;
  background-color: @bg-lightgrey;
  padding-bottom: 47px;
  padding-top: 74px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 0;
    height: 0;
    border-right: 100vw solid @bg-lightgrey;
    border-top: 30px solid transparent;
  }

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-bottom: 95px;

    &::before {
      top: -100px;
      border-right: 100vw solid @bg-lightgrey;
      border-top: 100px solid transparent;
    }
  }
}

.payment-plans__hit {
  display: block;
  position: absolute;
  width: 100%;
  left: -110px;
  top: 9px;
  transform: rotate(-45deg);

  font-size: @fs-base;
  text-align: center;
  color: @font-white;
  background-color: @bg-red;

  @media (min-width: @tablet-width) {
    left: -60px;
    top: 10px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    left: -90px;
    top: 10px;
  }
}

.payment-plans__category {
  font-size: 16px;
  color: @font-white;
  background-color: @bg-darkgrey;
  text-align: center;

  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    @fs-title: 18px;
    line-height: 30px;
  }
}

.payment-plans__price {
  font-weight: normal;
  font-size: @fs-title;
  line-height: @lh-title;
  text-align: center;

  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}
