.post {
  margin-bottom: 19px;
  background-color: @bg-lightgrey;

  @media (min-width: @tablet-width) {
    position: relative;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 2px;
    margin-bottom: 4px;
  }
}

.post__info {
  padding-left: 17px;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: start;
    min-height: 145px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 11px;
    padding-left: 27px;
  }
}

.post__author {
  font-weight: bold;
  font-size: @fs-base;
  line-height: @lh-title;
  font-style: normal;

  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    order: 0;
    margin-bottom: 0;
  }
}

.post__time {
  font-weight: 300;
  font-size: 12px;
  line-height: @lh-title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    order: 3;
    width: 100%;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.post__likes-count {
  display: block;
  width: 100%;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @font-red;
  padding-left: 32px;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 15px;
    left: 30px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    left: 27px;
  }
}

.post__button {
  border: none;
  outline: none;
  position: absolute;
  left: -7px;
  bottom: 2px;
  background-color: transparent;

  svg {
    height: 12px;
    width: 14px;
    color: @font-red;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: @font-black;
    }

    &:active {
      color: @font-black;
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    left: auto;
    right: 60px;
  }

  @media (min-width: @tablet-width) {
    right: 53px;
    bottom: 5px;
  }
}

.post--of-the-day {
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 1px;

  .post__info {
    padding-top: 14px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;

    .post__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: start;
      padding-top: 24px;
      padding-right: 30px;
      padding-bottom: 25px;
      padding-left: 28px;
      min-height: 0;
      position: relative;
    }

    .post__author {
      order: 0;
      margin-right: 4px;
    }

    .post__time {
      order: 1;
      flex-grow: 1;
    }

    .post__text {
      order: 3;
      width: 100%;
      padding-bottom: 0;
    }

    .post__likes-count {
      order: 2;
      position: relative;
      padding-right: 30px;
      width: auto;
      margin-bottom: 0;
      left: auto;
      bottom: auto;
      right: 0;
      top: 0;
    }

    .post__button {
      right: -5px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-end: 4;
    margin-bottom: 0;

    .post__info {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .post__author {
      margin-right: 2px;
    }

    .post__likes-count {
      padding-right: 30px;
      top: 0;
    }
  }
}
