.posts {
  padding-top: 45px;

  @media (min-width: @tablet-width) {
    padding-top: 91px;
    padding-left: 0;
    padding-right: 0;
  }
}

.posts__intro {
  font-size: @fs-base;
  text-align: center;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  margin-bottom: 50px;
  grid-area: posts__intro;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
    max-width: 580px;
  }
}

.posts__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;

    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;

    grid-row-gap: 54px;
    grid-column-gap: 20px;
  }
}

.posts__post-of-the-day {
  position: relative;
  line-height: 0;
}

.posts__post-of-the-day-photo {
  img {
    width: 100%;
  }
}

.posts__post-of-the-day-frame {
  font-size: 12px;
  line-height: @lh-title;
  font-weight: bold;
  text-transform: uppercase;
  color: @font-white;
  background-color: @bg-red;

  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;

  position: absolute;
  top: 0;
  right: 19px;
  width: fit-content;

  @media (min-width: @tablet-width) {
    line-height: 10px;
    top: 55px;
  }

  @media (min-width: @desktop-width) {
    line-height: 10px;
    top: 55px;
    left: 50%;
    transform: translate(330px);
  }
}
