.post {
  background-color: @bg-lightgrey;

  @media (max-width: @mobile-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    position: relative;
  }
}

.post__img-of-the-day {
  font-size: 12px;
  line-height: @lh-title;
  font-weight: bold;
  text-transform: uppercase;
  color: @font-white;
  background-color: @bg-red;

  text-align: center;
  vertical-align: middle;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;

  position: absolute;
}

.post__info {
  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: start;
    min-height: 112px;
  }
}

.post__author {
  font-weight: bold;
  font-size: @fs-base;
  line-height: @lh-title;
  font-style: normal;

  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    order: 0;
    margin-bottom: 0;
  }
}

.post__time {
  font-weight: lighter;
  font-size: 12px;
  line-height: @lh-title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    order: 3;
    width: 100%;
    text-align: left;
  }
}

.post__likes-count {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @font-red;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 23px;
  }
}

.post--of-the-day {
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;

    .post__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: start;
      padding-top: 15px;
      min-height: 0;
      position: relative;
    }

    .post__author {
      order: 0;
    }

    .post__time {
      order: 1;
    }

    .post__text {
      order: 3;
      width: 100%;
    }

    .post__likes-count {
      order: 2;
      position: absolute;
      right: 45px;
      top: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-end: 4;
  }
}
