.radio__icon {
  color: @bg-red;
  width: 48px;
  height: 48px;

  @media (max-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.radio--hidden {
  @media (max-width: @mobile-width) {
    display: none;
  }
}
