.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

.site-list__item {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 32px;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  min-height: 63px;
  padding-top: 17px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
    padding-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    text-transform: none;
    font-weight: normal;
    line-height: 18px;
    padding-top: 49px;
    margin-right: 85px;
    box-shadow: none;
    padding-bottom: 19px;
  }
}

.site-list__item:last-child {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.site-list__link {
  display: block;
  margin: auto;
  text-align: center;
  color: @font-white;

  &:hover {
    color: @hover-red;
  }

  &:active {
    opacity: 0.3;
    color: @down-red;

    @media (min-width: @desktop-width) {
      color: @static-white;
    }
  }
}

.site-list__item--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @font-white;
  }
}
