.slider__item {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58px;
  margin: auto;
}

.slider__toggle {
  outline: none;
  border: none;
  padding: 0;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @bg-darkgrey;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__toggle--current {
  width: 11px;
  height: 11px;
  background-color: @bg-white;
  opacity: 1;
  border: 3px solid @bg-darkgrey;
}

.slider--reviews {
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 111px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 79px;
      height: 64px;
      top: 0;
      left: 430px;
      background-image: url("../img/icons/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
      color: blue;
    }
  }
}

.slider--table {
  margin: 0 auto;

  @media (max-width: calc(@tablet-width - 1px)) {
    overflow: hidden;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .slider__toggles {
      display: none;
    }
  }
}
