.slider__item {
  margin: 0;
}

.slider__toggles {
  margin: 0;
  text-align: center;
}

.slider--reviews {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-top: 96px;
  }
}

.slider--table {
  margin: 0 auto;

  @media (max-width: calc(@tablet-width - 1px)) {
    width: @mobile-width;
    overflow: hidden;
  }

  @media (min-width: @tablet-width) {
    .slider__toggles {
      display: none;
    }
  }
}
