.table {
  border-collapse: collapse;

  @media (max-width: calc(@tablet-width - 1px)) {
    width: calc(280px * 4);
    transform: translate(-51%);
    margin-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.table__data {
  font-size: @fs-base;
  background-color: @bg-white;
  border: 2px solid @bg-lightgrey;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    min-width: 152px;
    text-transform: none;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    min-width: 252px;
  }
}

.table__headline {
  background-color: @bg-darkgrey;
  color: @font-white;
}

.table__text {
  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-bottom: 11px;
    padding-left: 14px;
  }
}

.table__data--desc {
  padding-top: 15px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-bottom: 11px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 45px;
    font-size: 18px;
    line-height: 30px;
  }
}

.table__data--headline {
  position: relative;
  overflow: hidden;
  background-color: @bg-darkgrey;
  border: 2px solid @bg-darkgrey;
  border-radius: 1px 0 0 0;
  padding-top: 10px;
  padding-bottom: 30px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }
}

.table__data--hidden {
  background-color: @bg-lightgrey;
  opacity: 1;
}

.table__text--hidden {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.table__data--yes {
  background-image: url("../img/icons/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-width: @tablet-width) {
    background-position: center center;
  }
}

.table__data--no {
  background-image: url("../img/icons/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-width: @tablet-width) {
    background-position: center center;
  }
}
