.table {
  border-collapse: collapse;
  width: calc(280px * 4);
  transform: translate(-50%);
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: auto;
    width: @width-default-t;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    width: @width-default-d;
    transform: none;
  }
}

.table__data {
  font-size: @fs-base;
  background-color: @bg-white;
  border: 2px solid @bg-lightgrey;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    min-width: 152px;
    text-transform: none;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    min-width: 233px;
  }
}

.table__headline {
  background-color: @bg-darkgrey;
  color: @font-white;
  border-right: 1px solid @bg-lightgrey;
}

.table__text {
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-bottom: 11px;
    padding-left: 14px;
  }
}

.table__data--desc {
  padding-top: 18px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-bottom: 11px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 6px;
    padding-right: 45px;
    font-size: 18px;
    line-height: 30px;
  }
}

.table__data--headline {
  position: relative;
  overflow: hidden;
  background-color: @bg-darkgrey;
  border: 2px solid @bg-darkgrey;
  border-radius: 1px 0 0 0;
  padding-top: 10px;
  padding-bottom: 30px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

.table__data--hidden {
  background-color: @bg-lightgrey;
  opacity: 1;
}

.table__text--hidden {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.table__data--yes {
  background-image: url("../img/icons/icon-yes.svg");
  background-position-x: 230px;
  background-size: 30px 30px;
}

.table__data--no {
  background-image: url("../img/icons/icon-no.svg");
  background-position-x: 228px;
  background-size: 25px 25px;
}

.table__data--yes,
.table__data--no {
  background-repeat: no-repeat;
  background-position-y: center;

  @media (min-width: @tablet-width) {
    background-position: center center;
  }
}
