.tools-set {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0;

  @media (max-width: 659px) {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 76px;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 73px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 50px;
    margin-bottom: 64px;
    width: 100%;
  }
}

.tools-set__item {
  @media (min-width: @tablet-width) {
    padding-bottom: 14px;
    border-bottom: 2px solid @border-darkgrey-transparent;

    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.tools-set__item:not(:nth-child(1)) {
  @media (min-width: @tablet-width) {
    padding-top: 18px;
  }
}

.tools-set__range {
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  display: block;
  transition: all 0.2s;

  &:hover {
    &::-webkit-slider-thumb {
      border: 2px solid @bg-black;
    }

    &::-moz-range-thumb {
      border: 2px solid @bg-black;
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      border: 2px solid @bg-darkgrey;
    }

    &::-moz-range-thumb {
      border: 2px solid @bg-darkgrey;
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;

    border: 2px solid @bg-red;
    background-color: @bg-white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: -7px;
  }

  &::-moz-range-thumb {
    border: 2px solid @bg-red;
    background-color: @bg-white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    border: none;
    background-color: @bg-darkgrey;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    border: none;
    background-color: @bg-darkgrey;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: 659px) {
    position: absolute;
    left: 20px;
    width: 240px;
  }
}
